version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - Open_Router=${Open_Router}
      - Model_Name=${Model_Name}
    volumes:
      - ./.env:/app/.env
    command: uvicorn app:app --host 0.0.0.0 --port 8000 --reload